<div class="bg-white shadow overflow-hidden  sm:rounded-lg mt-10">
    <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
        <div class="max-w-3xl">
            <h3 class="text-lg leading-6 font-medium text-gray-900 flex justify-between mb-4">
                Your rating
            </h3>

            <p>Please consider the description of the award while reviewing the supporting materials of the nomination. Place your rating on a scale of 1 to 10, where 1=poor and 10=excellent. Use the 'comment box' below to explain briefly the reasoning behind your decision or to share any additional observations or remarks.</p>

            <strong>{{ entry.category.name }}</strong>

            {% if entry.category.name == 'Individual Awards' %}

                <p>Individual awards are special merit awards presented to individuals in four categories who have made extraordinary contributions to advance openness in education.</p>

                <h4 class="mt-6 font-bold mb-2">{{ entry.subcategory }}</h4>

                {% if entry.subcategory == 'Leadership Award' %}
                    <p>This award is presented to an individual who has demonstrated significant leadership and longstanding involvement with Open Education. This person has made significant and clear contributions to the furtherance of the Open Education movement, with contributions to Open Education that have spanned regions and/or had a global impact.</p>
                {% elif entry.subcategory == 'Educator Award' %}
                    <p>This award honors an innovative teacher/professor who has published and/or used a significant body of Open Resources and/or applied Open Practices over a sustained period (at least one year) in their teaching practice. This individual’s open course materials and professional practices have been recognized for having an impact on student learning and influencing peers to share more openly.</p>
                {% elif entry.subcategory == 'Catalyst Award' %}
                    <p>This award is presented to an individual actively engaged in promoting the creation and implementation of OER and application Open Practices. A Catalyst is someone other than a professor/teacher that supports the ideals of the Open Education movement through their own practices and who creates engagement in Openness within an organization or community. Examples might include but are not limited to librarians, researchers, instructional designers, policymakers, or administrators.</p>
                {% elif entry.subcategory == 'Student Award' %}
                    <p>This award recognizes the outstanding endeavors of a student who has advocated for or benefitted academically from the use of open educational resources or open educational practices. It is presented to a student whose achievements may inspire others to pursue degree programs that utilize open resources and/or someone who played a prominent role in advocating successfully for the promotion and advancement of open education.</p>
                {% endif %}

            {% elif entry.category.name == 'Special Awards' %}

                <p>While the main categories of the OEAwards (Individual, Assets & Practices) remain the same each year, we always look for ways to reflect new trends and emerging innovations in the Open Education Movement. Thus in 2024 we introduce a new one for the intersection of Open Education and AI in the area of Special Awards, including a Wildcard one to recognize a person or project that does not fit other categories.</p>

                <h4 class="mt-6 font-bold mb-2">{{ entry.subcategory }}</h4>

                {% if entry.subcategory == 'Wildcard' %}
                    <p>Awards ought to be open themselves! This new award is open to recognition of something or someone not quite covered by any other category. Create your own award, criteria, and help recognize everything possible in open education.</p>
                {% elif entry.subcategory == 'Enacting SDGs' %}
                    <p>This award recognizes exemplary leadership (individual or organizational) and application of open practices that not only align with specific examples of the seventeen United Nations Sustainable Development Goals (SDG) but have resulted in making a demonstrable difference in the world. As a new Special Award category, for inspiration, please see previous awards related to SDGs.</p>
                {% elif entry.subcategory == 'Diversity, Equity and Inclusion' %}
                    <p>This award recognizes creativity, innovation and creation of opportunities that promote a welcoming and supportive diverse environment and facilitate inclusion and/or access.  Examples are ones that that develop cultural awareness and foster intercultural communication and collaboration.</p>
                {% elif entry.subcategory == 'Open and AI' %}
                    <p>Artificial Intelligence (AI) presents both potential but a wide array of difficult challenges and policy implications for open education. Recognizing this rapid evolution, this award aims recognize outstanding efforts to address through the lens of open education principles, concerns of policy, intellectual property, critical pedagogy, technical literacy as well as innovative and etihcal use of AI in the creation and implementation of Open Educational Resources.</p>
                    <p>This is a new category, so this year sets the stage for future inspirations.</p>
                {% endif %}

            {% elif entry.category.name == 'Open Practices Awards' %}

                <p>Open Practices are collective behaviors and techniques that open up access to educational opportunities. These practices promote and support the use of open educational resources, technologies and social networks to facilitate collaborative and flexible teaching and learning. Where have you seen the outstanding applications of Open Pedagogy, Collaboration, Research, or Policy?</p>

                <h4 class="mt-6 font-bold mb-2">{{ entry.subcategory }}</h4>

                {% if entry.subcategory == 'Open Pedagogy' %}
                    <p>This award highlights innovative open teaching practice that incorporate openness in multiple levels of the learning process. Open Pedagogy not only engages in the production, use and reuse of content but also demonstrates effective open teaching practices as well as ways of educating that increase access to learning and address equity and fairness. Open pedagogy may include examples where students contribute to an openly published resource, engage in improving information in open spaces such as Wikimedia platforms, or contributing to the public good.</p>
                {% elif entry.subcategory == 'Open Collaboration' %}
                    <p>This award goes to an environment that fosters the collective production of open resources and open practices with a shared goal. Such places allow for an interchange of ideas supported through technologically mediated collaborative platforms, encourage new opportunities for people to form ties with others and create things together, and expand a diversity of goals, backgrounds and cultures. Examples might include communities of practice, joint project ventures, multi-institutional collaboration, or multinational cooperation.</p>
                {% elif entry.subcategory == 'Open Research' %}
                    <p>This award recognizes research studies or initiatives about open education and/or related areas that help advance our understanding of and demonstrate effectiveness related to challenges of the Open Education movement. Recognized efforts are ones that apply attributes of Openness in the research and dissemination processes.</p>
                {% elif entry.subcategory == 'Open Policy' %}
                    <p>This award goes to an environment that fosters the collective production of open resources and open practices with a shared goal. Such places allow for an interchange of ideas supported through technologically mediated collaborative platforms, encourage new opportunities for people to form ties with others and create things together, and expand a diversity of goals, backgrounds and cultures. Examples might include communities of practice, joint project ventures, multi-institutional collaboration, or multinational cooperation.</p>
                {% endif %}

            {% elif entry.category.name == 'Open Assets Awards' %}

                <p>Open Assets are what open education initiatives produce and use, tangible goods (usually digital) with educational purpose and value. Open Assets are produced, curated, and distributed in ways that make them freely accessible, usable, and improvable by others. What assets or projects that have been openly shared have made an impact on your open education work?</p>

                <h4 class="mt-6 font-bold mb-2">{{ entry.subcategory }}</h4>

                {% if entry.subcategory == 'Open Infrastructure' %}
                    <p>This award is for the implementation or development of a set of technologies that encompasses open source tools for creation of open educational resources, use in educational context, their curation, improvement and reuse, as well as sharing. The “infrastructure” is wider than open source software, though, it also includes open hardware, open standards enabling interoperability, as well as the human support infrastructure that are instrumental for enabling open education.</p>
                {% elif entry.subcategory == 'Open Curation / Repository' %}
                    <p>This award is given to an exceptional collection of high-quality open materials made available via a process of curation or review. More than merely collecting content on a specific subject, strong curation involves carefully selecting content. evaluating it for specific purposes, and making it available in a meaningful way that can then be customized and re-shared for other people.</p>
                {% elif entry.subcategory == 'Open Reuse / Remix / Adaptation' %}
                    <p>This award recognizes an outstanding example of OER that has been adapted from existing open content in a way that demonstrates the value of reuse. This may include significant iterative improvements of resources, including translation, localization, addition of interactivity or a transformation into new forms that extend the capabilities and reach of the original work.</p>
                {% elif entry.subcategory == 'Significant Impact OER' %}
                    <p>This award recognizes high-quality innovative teaching and learning materials openly shared that has also demonstratively had a major impact on accessibility, distribution, remix, learning, or social change. These include but are not limited to Open Courses, Open Textbooks, Videos / Simulations / Animations, Audio / Audiobook, etc.</p>
                {% endif %}

            {% else %}
                <!--This should never be displayed-->
            {% endif %}
        </div>

        <form class="js-rating rating__form" method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" class="button primary mt-10" value="Submit"/>
        </form>
    </div>
</div>
