<ul class="mt-4 js-reviewers reviewers-list max-w-5xl" id="reviewers">
    {% for reviewer in reviewers %}
        <li class="inline-block mr-4 w-full py-1 pl-2
                           {% if reviewer.user.reviewer.is_board_member %} text-green-700{% endif %}
                           {% if reviewer.assigned %}font-bold cursor-pointer hover:text-blue-400
                           {% elif reviewer.readonly %}text-sm
                           {% else %}underline cursor-pointer hover:text-blue-400 hover:bg-gray-100{% endif %}
                          "
            data-user="{{ reviewer.user.id }}"
            data-entry="{{ entry.id }}"
        >
            {{ reviewer.user.first_name }} {{ reviewer.user.last_name }}
            ({{ reviewer.user.rating_set.all.count }})
        </li>
    {% endfor %}
</ul>
