{% load svg humanize %}

<li class="border-t border-gray-200">
    <span
            class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
        <div class="px-4 py-4 sm:px-6">
            <div class="flex items-center justify-between">
                <div class="text-base leading-loose font-medium text-blue-400 truncate">
                    {% if obj.user.first_name %}
                        {{ obj.user.first_name }} {{ obj.user.last_name }}
                    {% else %}
                        {{ obj.user.username }}
                    {% endif %}
                    {% if obj.user.reviewer.is_board_member %}
                    (Board Member)
                    {% endif %}
                </div>
            </div>
            <div class="mt-2 sm:flex sm:justify-between">
                <div class="sm:flex">
                    <div class="mr-6 flex items-center text-sm leading-5 text-gray-500">
                        {% svg 'at-sign' class="flex-shrink-0 mr-1.5 h-5 w-5 text-blue-400" %}
                        <a class="hover:text-blue-400 hover:underline"
                           href="mailto:{{ obj.user.email }}">{{ obj.user.email }}</a>
                    </div>
                    <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
                        {% svg 'calendar' class="flex-shrink-0 mr-1.5 h-5 w-5 text-blue-400" %}
                        {% if not obj.user.last_login %}
                            Never logged-in
                        {% else %}
                            {{ obj.user.last_login|naturaltime }}
                        {% endif %}
                    </div>
                </div>
                <div class="mt-2 flex items-center justify-center text-sm leading-5 text-gray-500 sm:mt-0">
                    {% if obj.dones %}
                        <span class="mr-4">
                        {% svg 'check' class="flex-shrink-0 mr-1 h-5 w-5 text-green-400 inline-block" %}
                        {{ obj.dones }} Completed
                    </span>
                    {% endif %}
                    {% if obj.drafts %}
                        <span class="mr-4">
                        {% svg 'empty' class="flex-shrink-0 mr-1 h-5 w-5 text-yellow-400 inline-block" %}
                        {{ obj.drafts }} Waiting
                    </span>
                    {% endif %}
                    {% if obj.conflicts %}
                    <span>
                        {% svg 'exclamation' class="flex-shrink-0 mr-1 h-5 w-5 text-red-600 inline-block" %}
                        {{ obj.conflicts }} Skipped
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </span>
</li>
