{% load svg %}
<html lang="en-US" class="antialiased">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <title>{% block headtitle %}Home{% endblock %} | OE Awards</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    {% include "bundler-header.html" %}
</head>

<body class="bg-gray-100 mb-20">
<div class="bg-white py-2 mb-10">
    <nav class="container flex justify-between items-center">
        <a href="/">{% svg 'logo' class='h-14' %}</a>

        {% if user.is_staff %}
            <ul class="flex justify-left">
                <li class="mr-6"><a href="{% url 'staff-index' %}">Overview</a></li>
                <li class="mr-6"><a href="{% url 'staff-submissions' %}">All Submissions</a></li>
                <li><a href="{% url 'staff-user-list' %}">Reviewers</a></li>
            </ul>
        {% elif user.is_authenticated %}
            <ul class="flex justify-left">
                <li class="mr-6"><a href="{% url 'submissions' %}">Submissions</a></li>
            </ul>
        {% endif %}

        {% if user.is_authenticated %}
            <ul class="flex justify-left">
                <li><a href="{% url 'custom-logout' %}">Logout</a></li>
            </ul>
        {% endif %}
    </nav>
</div>
{% if messages %}
    <div class="bg-green-300 py-6 -mt-10 mb-6 font-semibold">
        <div class="container">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

<div class="container">
    {% block contents %}
    {% endblock %}
</div>
</body>

</html>
