{% extends "base.html" %}

{% block contents %}
	<div class="row">
		<div class="large-12 columns">
			<h1>Login failed</h1>
			<p>The key you've entered is invalid. Please check that your e-mail client didn't cut part of the link or that the message itself isn't older than {{ key_max_age }} days.</p>
		</div>
	</div>
{% endblock %}
