{% extends "base.html" %}

{% block contents %}
    <div class="flex justify-center items-center flex-col">
        <div class="w-full md:w-1/2 mb-10">
            <form action="" method="POST">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="button primary mt-10" value="Get My Login"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>

        <div class="w-full md:w-1/2">
            <p class="mb-4">Enter your email address that we will send a unique link providing access to the awards review system. If you have any problems accessing the site please contact us at
                <a class="text-blue-400 underline" href="mailto:awards@oeglobal.org">awards@oeglobal.org</a></p>
        </div>
    </div>
{% endblock %}
